<div class="rinchans owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m10.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">160 Phut</p>
                                <p class="year">2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m11.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">160 Phut</p>
                                <p class="year">1992</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m12.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">160 Phut</p>
                                <p class="year">2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m13.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">130 Phut</p>
                                <p class="year">1992</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m14.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">142 Phut</p>
                                <p class="year">1996</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m15.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">198 Phut</p>
                                <p class="year">2005</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m16.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">75 Phut</p>
                                <p class="year">2009</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m17.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">203 Phut</p>
                                <p class="year">2003</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m18.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">192 Phut</p>
                                <p class="year">2007</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="item">
                            <a href="#"><img src="image/m19.jpg" alt="m10" /></a>
                            <div class="owl-caption">
                                <a href="#" class="title">Ten Phim</a>
                                <p class="min">156 Phut</p>
                                <p class="year">1999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>